/*基础设置*/
.container {
    width: 1190px;
    height: 30px;
    /*background-color: #4df194;*/
    margin: 0 auto;
}

/*顶部导航条开始*/
.topbar {
    height: 30px;
    background-color: #ececec;
}

.topbar .container .welcome {
    height: 30px;
    line-height: 30px;
    font-size: 0;
    color: #666;
}

.topbar .container .welcome span, .topbar .container .welcome a {
    font-size: 12px;
}

.topbar .container .welcome .hello {
    margin-right: 28px;
}

.topbar .container .welcome .login {
    padding-right: 10px;
    border-right: 1px solid black;
}

.topbar .container .welcome .register {
    padding-left: 10px;
}

.topbar .container .topbar-nav .lists {
    height: 30px;
    line-height: 30px;
}

.topbar .container .topbar-nav .lists li {
    float: left;
}

.topbar .container .topbar-nav .lists li a {
    padding: 0 15px;
    border-right: 1px solid black;
}

.topbar .container .topbar-nav .lists li:first-child a {
    padding-left: 0;
}

.topbar .container .topbar-nav .lists li:last-child a {
    padding-right: 0;
    border: 0;
}

/*顶部导航条结束*/

.header {
    height: 120px;
    background-color: #43d356;
}

.header .search form {
    margin-top: 42px;
    font-size: 0;
}

.header .search input {
    width: 508px;
    height: 34px;
    border: 1px solid #DD302D;

}

.header .search button {
    width: 80px;
    height: 36px;
    vertical-align: top;
    background-color: #DD302D;
    background-image: url("../images/serch_icon.png");
    background-repeat: no-repeat;
    background-position: center;
}

.main-nav {
    height: 48px;
    border-bottom: 1px solid #DD302D;
}

.main-nav .container .all-types {
    height: 48px;
    width: 190px;
    line-height: 48px;
    background-color: #DD302D;
    color: white;
    text-align: center;
    font-size: 16px;
}

.main-nav .container .main-nav-lists {
    height: 48px;
    line-height: 48px;
}

.main-nav .container .main-nav-lists li {
    float: left;
    margin: 0 10px;
    font-size: 16px;
}

.main-content {
    margin-top: 10px;
}

.main-content .container .slide-nav {
    width: 190px;
    height: 458px;
    background-color: #ffffff;
    position: relative;
}

.main-content .container .slide-nav li {
    font-size: 14px;
    height: 28px;
    line-height: 28px;
    padding-left: 16px;
}

.main-content .container .slide-nav li:hover {
    background-color: #DD302D;
}

.main-content .container .slide-nav li:hover > a {
    color: white;
}

.main-content .container .slide-nav .second-menu {
    width: 680px;
    height: 458px;
    background-color: #ffffff;
    position: absolute;
    top: 0;
    left: 190px;
    padding-left: 20px;
    display: none;
}

.main-content .container .slide-nav:hover .second-menu {
    display: block;
}

.main-content .container .slide-nav .second-menu dl {
    height: 36px;
    line-height: 36px;
}

.main-content .container .slide-nav .second-menu dl:first-child {
    margin-top: 10px;
}

.main-content .container .slide-nav .second-menu dt {
    float: left;
    width: 70px;
    font-weight: bold;
    margin-right: 10px;
}

.main-content .container .slide-nav .second-menu dd {
    float: left;
}

.main-content .container .slide-nav .second-menu dd a {
    padding: 0 10px;
    border-left: 1px solid black;
}


.main-content .container .banner {
    width: 690px;
    height: 458px;
    background-color: #9aea72;
    margin: 0 10px;
}

.main-content .container .slide-other {
    width: 290px;
    height: 458px;
    /*background-color: #8c72e5;*/
}

.main-content .container .slide-other .message {
    width: 260px;
    height: 156px;
    border: 1px solid #d9d9d9;
    padding: 0 14px;
}

.main-content .container .slide-other .message .title {
    height: 38px;
    line-height: 38px;
    border-bottom: 1px solid #d9d9d9;
}

.main-content .container .slide-other .message .title span {
    font-size: 14px;
}

.main-content .container .slide-other .message .title a {
    font-size: 12px;
}

.main-content .container .slide-other .message .msg-list li {
    line-height: 26px;
    height: 26px;
}

.main-content .container .slide-other .other-nav {
    width: 290px;
    height: 290px;
    margin-top: 10px;
    /*background-color: orange;*/
    overflow: hidden;
}

.main-content .container .slide-other .other-nav .other-nav-list:first-child {
    margin-top: 16px;
}

.main-content .container .slide-other .other-nav .other-nav-list:nth-child(2) {
    margin: 17px 0;
}

.main-content .container .slide-other .other-nav .other-nav-list li {
    width: 48px;
    height: 70px;
    float: left;
    /*background-color: #b5ea7c;*/
    margin: 0 11px;
    text-align: center;
}

.main-content .container .slide-other .other-nav .other-nav-list li span{
    margin-top: 5px;
}


.main-content .container .slide-other .other-nav .other-nav-list li:first-child {
    margin-left: 16px;
}

.main-content .container .slide-other .other-nav .other-nav-list li .picture {
    background-image: url("../images/精灵图-侧边功能.png");
    width: 48px;
    height: 48px;
}

.main-content .container .slide-other .other-nav .other-nav-list:nth-child(1) li:nth-child(1) .picture {
    background-position: 0 0;
}

.main-content .container .slide-other .other-nav .other-nav-list:nth-child(1) li:nth-child(2) .picture {
    background-position: -48px 0;
}

.main-content .container .slide-other .other-nav .other-nav-list:nth-child(1) li:nth-child(3) .picture {
    background-position: -96px 0;
}

.main-content .container .slide-other .other-nav .other-nav-list:nth-child(1) li:nth-child(4) .picture {
    background-position: -144px 0;
}


.main-content .container .slide-other .other-nav .other-nav-list:nth-child(2) li:nth-child(1) .picture {
    background-position: 0 -48px;
}

.main-content .container .slide-other .other-nav .other-nav-list:nth-child(2) li:nth-child(2) .picture {
    background-position: -48px -48px;
}

.main-content .container .slide-other .other-nav .other-nav-list:nth-child(2) li:nth-child(3) .picture {
    background-position: -96px -48px;
}

.main-content .container .slide-other .other-nav .other-nav-list:nth-child(2) li:nth-child(4) .picture {
    background-position: -144px -48px;
}


.main-content .container .slide-other .other-nav .other-nav-list:nth-child(3) li:nth-child(1) .picture {
    background-position: 0 -96px;
}

.main-content .container .slide-other .other-nav .other-nav-list:nth-child(3) li:nth-child(2) .picture {
    background-position: -48px -96px;
}

.main-content .container .slide-other .other-nav .other-nav-list:nth-child(3) li:nth-child(3) .picture {
    background-position: -96px -96px;
}

.main-content .container .slide-other .other-nav .other-nav-list:nth-child(3) li:nth-child(4) .picture {
    background-position: -144px -96px;
}