* {
    margin: 0;
    padding: 0;
}

.wrapper {
    height: 800px;
    background-color: #8282c9;
}

.wrapper .header {
    height: 60px;
    background-color: #888;
}

.wrapper .header .left-nav {
    width: 441.39px;
    height: 60px;
    background-color: #d39292;
    margin-left: 24px;
    float: left;
}

.wrapper .header .left-nav ul li {
    list-style: none;
    float: left;
    margin-right: 24px;
    margin-top: 19px;
}

.wrapper .header .left-nav ul li a {
    font-size: 13px;
    text-decoration: none;
    color: black;
    display: block;
}

.wrapper .header .left-nav ul li a:hover {
    color: #315efb;
}

.wrapper .header .right-nav {
    width: 588px;
    height: 60px;
    background-color: skyblue;
    float: right;
}

.wrapper .header .right-nav .ai-right .ai-icon {
    width: 24px;
    height: 24px;
    margin-top: 10px;
}